.main {
  padding-top: 50px;
  text-align: center;

}

body {
  background-color: #F1F0FF;
}

.topnav {
color: #443266;
}

.page-title {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* about */

#about {
  text-align: center;
}

#staff {
  text-align: center;
}
